APP_ID=6757333924
APP_VERSION=1.0.0
BUILD_NUMBER=1

ASC_KEY_ID=
ASC_ISSUER_ID=
ASC_PRIVATE_KEY_PATH=

SUPPORT_URL="https://feng6611.github.io/mac-command-reopen/support/"
PRIVACY_URL="https://feng6611.github.io/mac-command-reopen/privacy/"

APP_NAME="Command Reopen"
APP_SUBTITLE="Reopen windows via Cmd+Tab"
CONTACT_EMAIL="fchen6611@gmail.com"
